/*import google font*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

/*colors*/

/*(sub-heading at the top of the app UI)*/
$pale_violet: hsl(276, 100%, 81%);
/*(chat on the left)*/
$moderate_violet: hsl(276, 55%, 90%);
/*(chat on the right)*/
$desaturated_dark_violet: white;
/*(placeholder text)*/
$grayish_blue: hsl(206, 6%, 79%);
/*(main heading)*/
$very_dark_desaturated_violet: hsl(271, 36%, 24%);
/*paragraph*/
$dark_grayish_violet: hsl(270, 7%, 64%);

/*bg app*/
$light_grayish_violet: hsl(270, 20%, 96%);

/*bg-gradient*/
$light_magenta: hsl(293, 100%, 63%);
$light_violet: hsl(264, 100%, 61%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  background: lightblue;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  position: absolute;
}

.bg {
  position: relative;
  z-index: -10;
  background: $moderate_violet;
  height: 50vh;
  width: 30vw;
  border-bottom-left-radius: 240px;
  border-bottom-right-radius: 240px;
  top: -100px;
  right: 60px;
}
.card {
  margin-left: -180px;
  font-size: 12px;
  max-width: 350px;
  border: 10px solid white;
  border-radius: 40px;
  background-color: $light_grayish_violet;
  .profile {
    margin-top: -25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient($light_magenta, $light_violet);
    padding: 0.75rem;
    padding-top: 2rem;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;

    h2 {
      font-size: 16px;
      font-weight: 500;
    }
    .avatar {
      margin-left: 5px;
      width: 40px;
      height: auto;
      border-radius: 50%;
      border: 1px solid white;
    }
  }
  .wrapper-input {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0.5rem 0.7rem 0.5rem;

    border-radius: 50px;
    p {
      color: $pale_violet;
      margin-left: 2rem;
    }
  }
  #msg-input {
    padding: 0.5rem;
    border: none;
    margin-right: 0.5rem;
  }
}
.name {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  p {
    color: $grayish_blue;
    font-size: 12px;
  }
}
.profile-left {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.cut {
  position: relative;
  background-color: white;
  width: 50%;
  height: 25px;
  margin: 0 auto;
  z-index: 10;
  margin-bottom: -10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.wrapper-msg-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.wrapper-msg-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.walker-msg {
  border-radius: 12px;
  border-bottom-left-radius: 5px;
  margin: 0.5rem 0.5rem 0.2rem 0.5rem;
  padding: 0.5rem;
  max-width: 55%;
  background: $moderate_violet;
  color: $very_dark_desaturated_violet;
}
.customer-msg {
  border-radius: 12px;
  border-bottom-right-radius: 5px;
  margin: 0.5rem 0.5rem 0.2rem 0.5rem;
  padding: 0.5rem;
  max-width: 60%;
  background: $desaturated_dark_violet;
  color: $very_dark_desaturated_violet;
}
.wrapper-imgs {
  margin-right: 0.5rem;
}
.dog {
  border-radius: 12px;
  margin-top: 20px;
  margin-left: 0.5rem;
  width: 60px;
  height: auto;
}
.offer {
  max-width: 70%;
  background: linear-gradient($light_magenta, $light_violet);

  color: white;
  padding: 0.8rem;
  //display: flex;
  align-items: center;
  svg {
    margin-right: 10px;
  }
  span {
    font-weight: 500;
    font-size: larger;
  }
}

.price {
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  .dollar p {
    font-weight: bold;
    font-size: large;
  }
}
.angebot {
  display: flex;
  align-items: center;
}
.shadow {
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}
.submit {
  color: $very_dark_desaturated_violet;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
